* {
    box-sizing: border-box;
}

body {
    max-width: 65%;
    margin: 0em auto;
}

input[type="search"] {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 80px;
    width: 200px;
    border: 3px solid gray;
    min-width: 70%;
}
.container {
    display: grid;
    /* grid-template-columns: repeat(4, 200px); */
    grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
    grid-template-rows: repeat(3, 200px);
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px;
    margin: 10px;
}
